{% extends 'base.html' %}

{% block main %}
    <h2 id="title">Properties</h2>
    <div id="homes">
        {% for home in properties %}
            <div class="property">
                <img src="{{ url_for('get_image', filename=home.get_filename()) }}" class="propertypic"/>
                <div id="propertyinner">
                    <p id="propertytitle"> 
                        {{ home.get_title() }}
                    </p>                   
                    <p id="propertyplace"> 
                        <img src="{{ url_for('static', filename='pics/geo_icon_p.png') }}" class="icon"/>
                        {{ home.get_location() }} 
                    </p>
                    <div id="propertyprice"> 
                        {{ "${:,}".format(home.get_price()) }} 
                    </div>
                    <div id="propertyspacer"></div>
                </div>
                
                <button onclick="location.href='{{ url_for('view_property', propertyid=home.get_id()) }}'" type="button">
                    View Property
                </button>           
            </div>
        {% endfor %}
    </div>
{% endblock %}